@{
    Layout = null;
}

<!doctype html>
<html lang="">
<head>

    <title>TITLE</title>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Cache-Control" content="no-cache">

    @Styles.Render("~/css")

    <base href="/">
    <style>
        .breadcrumbs li {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: inline-block;
        }
        .breadcrumbs ul {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>

    <!--<div class="overlay" data-loader="">
        <div class="loader">
            Loading...
        </div>
    </div>-->
    <!--<div class="pagewrap" id="ui-view" data-ng-view="" data-ng-cloak=""></div>-->

    <div class="container">
        <div ng-view></div>
    </div>

<script type="text/ng-template" id="list-template.html">
    <breadcrumbs></breadcrumbs>
    <h1>Testing</h1>      
    <ul>
        <li ng-repeat="item in items">
            <a href='#/{{item.name}}'>
                {{ item.name | Fucking }}                
            </a>
        </li>
    </ul>    
</script>

<script type="text/ng-template" id="item-template.html">
    <breadcrumbs></breadcrumbs>
    <h1>Details for - {{ letter.name }}:</h1>
    <span>{{ letter.value }}</span>
    <span>{{ letter.other }}</span>            
</script>


<script type="text/ng-template" id="breadcrumb-template.html">
    <ul class="breadcrumbs">
        <li><h3><a href="#/">Letters</a><span ng-show="letter.name"> / </span></h3></li>
        <li><h3><a href="#/{{letter.name}}">{{letter.name}}</a></h3></li>
    </ul>
</script>

@Scripts.Render("~/js")


    @*<script type="text/javascript">

            // SPA running
            var appConfig = new AppConfig();
            angular.element(document).ready(function () {

                // angular bootstrapping
                var config = appConfig.appConfig;

                angular.module('App').constant('appConfig', config);
                angular.bootstrap(document, ['App']);

            });
        </script>*@
<script>
    var CONFIG = {
        url: {
            letter: {
                "get": '@Url.Action("GetList")',
                "getDetails": '@Url.Action("GetLetter")',
                "save": '@Url.Action("SaveLetter")',
                "delete": '@Url.Action("DeleteLetter")'
            }
        }
    }

    angular.element(document).ready(function () {
        var appName = 'TestApp';
        Application.start(appName);
        angular.bootstrap(document, [appName]);
    });
</script>
</body>
</html>
